# SPDX-License-Identifier: GPL-2.0

config CLK_PI
	bool "PI SoC driver support"
	depends on CLK
	help
	  SoC drivers for PI Linux-capable SoCs.

config CLK_PI_PRCI
	bool "PRCI driver for PI SoCs"
	depends on CLK_PI
	select CLK_ANALOGBITS_WRPLL_CLN28HPC
	help
	  Supports the Power Reset Clock interface (PRCI) IP block found in
	  PI A88 SoCs. If this kernel is meant to run on a PI 
	  A88 SoCs, enable this driver.
